// Global styles

* {
    transition: opacity 1s ease;
}

body {
    font-family:'Gill Sans', sans-serif;
    padding-top: 100px;
}

.show {
    display: block !important;
    opacity: 1 !important;
    pointer-events: all !important;
}

.hide {
    opacity: 0.5;
    pointer-events: none;
}

.error {
    height: 30px;
    font-size: 1.3vw;
    color: red;
    text-align: left;
    opacity: 0;
}


// Landing Page

.landingPage {
    text-align: center;
    display: none;
    opacity: 0;

    input[type="submit"] {
        font-size: 1.3vw;
    }

    .header {
        background-color: #c1f064;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 6vw;
        text-align: center;
        z-index: 10;

        h1 {
            color: #0f854a;
            font-size: 5vw;
            text-shadow: 3px 3px 0 #000;
            margin: 0;
            width: 100%;
            position: relative;
        }
    }

    form {
        margin-right: 15vw;
        padding-left: 2%;
        text-align: left;
        width: 32%;
        position: relative;
        float: left;

        input {
            position: absolute;
            right: 0;
            width: 12vw;

            &[type="submit"] {
                z-index: 10;
                width: 11vw;
            }
        }
    }
}


// Poker Page

.pokerPage {
    display: none;
    opacity: 0;

    .header {
        background-color: #c1f064;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 9vw;
        text-align: center;
        z-index: 10;

        h1 {
            color: #0f854a;
            font-size: 5vw;
            text-shadow: 3px 3px 0 #000;
            margin: 0;
            width: 100%;
            position: relative;
        }

        h3 {
            margin: 0;
            position: absolute;
            top: 40%;
            left: 2%;
            font-size: 1.5vw;
        }

        input {
            position: absolute;
            width: 10vw;
            font-size: 1vw;

            &.logout {
                left: 2vw;
                top: 65%;
            }

            &.play {
                left: 45%;
                bottom: 14%;
            }
        }

        .coins {
            position: absolute;
            top: 64%;
            right: 2%;
            font-size: 1.5vw;

            .numCoins {
                position: relative;
                left: 5px;
            }
        }

        .level {
            position: absolute;
            top: 13%;
            right: 2%;
            font-size: 1.5vw;

            .levelUp {
                position: initial;
            }

            .error {
                position: absolute;
                left: -8.5vw;
                top: 4%;
            }
        }
    }

    .playBox {
        opacity: 0;
        pointer-events: none;
        position: fixed;
        left: 32%;
        width: 36%;
        min-width: 305px;
        height: 240px;
        background-color: #c1f064;
        border: solid 1px black;
        z-index: 10;
        padding-left: 10px;
        text-align: center;

        .cancel {
            transform: rotate(45deg);
            width: 5%;
            height: 5%;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            font-size: 4vw;
        }

        .error {
            text-align: center;
            position: relative;
            top: 15px;
        }
    }

    .lobby {
        display: none;
        opacity: 0;
        position: relative;
        height: 400px;

        .lobbyName {
            text-align: center;
        }

        .playerList {
            position: absolute;
            left: 1%;
            top: 0;
            width: 10em;
            height: 300px;
            padding-left: 1em;
            background-color: #c1f064;
            border: solid 1px black;

            ul {
                list-style-type: none;
                padding-left: 0;

                .false {
                    position: relative;
                    left: 5px;
                    font-size: 0.6em;
                    color: grey;
                }

                .true {
                    position: relative;
                    left: 5px;
                    font-size: 0.6em;
                    color: green;
                }
            }

            .addAI {
                position: absolute;
                bottom: 32px;
                left: 30px;
            }

            .kickAI {
                position: absolute;
                bottom: 32px;
                left: 90px;
            }

            .leave {
                position: absolute;
                bottom: 12px;
                left: 60px;
            }

            .error {
                position: absolute;
                bottom: 50px;
            }
        }

        // Mostly positioning of cards
        .game {
            opacity: 0;
            position: absolute;
            top: 0;
            left: calc(4% + 10em);
            width: 100%;

            .pot {
                position: absolute;
                left: 31%;
                top: 57px;

                i {
                    position: relative;
                    left: 5px;
                }
            }
    
            .middleCards {
                position: absolute;
                left: 25%;
                top: 250px;
            }

            h4 {
                margin: 0
            }

            .bet {
                margin-bottom: 0.5em;
                margin-top: 0.5em;
            }

            .player1 {
                position: absolute;
                left: 18%;
                top: 70px;
            }

            .player2 {
                position: absolute;
                left: 44%;
                top: 70px;
            }

            .player3 {
                position: absolute;
                left: 7%;
                top: 190px;
            }

            .player4 {
                position: absolute;
                left: 56%;
                top: 190px;
            }

            .player5 {
                position: absolute;
                left: 7%;
                top: 330px;
            }

            .player6 {
                position: absolute;
                left: 56%;
                top: 330px;
            }

            .player7 {
                position: absolute;
                left: 18%;
                top: 450px;
            }

            .player8 {
                position: absolute;
                left: 45%;
                top: 450px;
            }

            > div:not(.middleCards):not(.pot) {
                opacity: 0;
            }

            .folded {
                h4 {
                    text-decoration: line-through;
                    color: grey;
                }
            }

            .winner {
                h4 {
                    color: orange;
                }
            }
        }

        .betBox {
            display: none;
            opacity: 0;
            padding: 10px;
            position: absolute;
            top: 83%;
            left: 45%;
            width: 130px;
            height: 100px;
            background-color: #c1f064;
            border: solid 1px black;

            input {
                width: 70%;
            }

            .fold {
                position: absolute;
                top: 75%;
            }
        }
    }
}